<a href="https://colab.research.google.com/github/oliverwsd/finance/blob/master/Set3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [20]:
import numpy as np
import pandas as pd
from io import StringIO
import csv
 
url = 'https://raw.githubusercontent.com/oliverwsd/finance/master/16pf_bm_beta.csv'
pf_16 = pd.read_csv(url)
pf_16.head()

     date     11     12     13     14  ...     34    41     42    43     44
0  196207   2.27  -8.57  -2.09  -2.93  ...  -4.38 -1.96  -4.97 -4.00 -13.47
1  196208  -4.76   3.27   2.72   3.80  ...   2.26 -0.82  -1.25  1.19  -2.93
2  196209  -3.02  -0.28  -5.11  -6.88  ...  -4.74 -5.62  -3.10  3.56  -3.41
3  196210  -3.89  -7.73  -6.27  -4.37  ...  -4.98 -2.54  -4.00  1.81  -3.77
4  196211  13.19  13.59  17.68  28.34  ...  15.60  7.75  11.38  7.63  12.65

[5 rows x 17 columns]

In [21]:
pf_16['date'] = pd.to_datetime(pf_16['date'],format='%Y%m')
pf_16.head()

        date     11     12     13     14  ...     34    41     42    43     44
0 1962-07-01   2.27  -8.57  -2.09  -2.93  ...  -4.38 -1.96  -4.97 -4.00 -13.47
1 1962-08-01  -4.76   3.27   2.72   3.80  ...   2.26 -0.82  -1.25  1.19  -2.93
2 1962-09-01  -3.02  -0.28  -5.11  -6.88  ...  -4.74 -5.62  -3.10  3.56  -3.41
3 1962-10-01  -3.89  -7.73  -6.27  -4.37  ...  -4.98 -2.54  -4.00  1.81  -3.77
4 1962-11-01  13.19  13.59  17.68  28.34  ...  15.60  7.75  11.38  7.63  12.65

[5 rows x 17 columns]

In [22]:
factors_url = 'https://raw.githubusercontent.com/oliverwsd/finance/master/monthly_factors.csv'
factors = pd.read_csv(factors_url)
factors['date'] = pd.to_datetime(factors['date'],format='%Y%m')
factors.head()

        date     rm    rf   SMB   HML    WML
0 1962-07-01  -5.53  0.25 -0.29 -1.05   2.38
1 1962-08-01   6.11  0.25 -5.50 -1.63   0.80
2 1962-09-01  -6.32  0.26  2.26  0.14   1.94
3 1962-10-01  -2.03  0.24 -3.12  1.13   1.14
4 1962-11-01  19.29  0.24 -0.87 -9.73 -10.36