<a href="https://colab.research.google.com/github/oliverwsd/finance/blob/master/set4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [34]:
import os
from google.colab import drive
drive.mount('/content/drive')

path = "/content/drive/My Drive/data"

os.chdir(path)#将当前目录指定到了云盘data文件夹
#os.listdir(path)
pd.read_csv('monthly_factors.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       date     rm    rf   SMB   HML    WML
0    196207  -5.53  0.25 -0.29 -1.05   2.38
1    196208   6.11  0.25 -5.50 -1.63   0.80
2    196209  -6.32  0.26  2.26  0.14   1.94
3    196210  -2.03  0.24 -3.12  1.13   1.14
4    196211  19.29  0.24 -0.87 -9.73 -10.36
..      ...    ...   ...   ...   ...    ...
613  201308  -1.54  0.01  1.16 -1.31  -0.02
614  201309   5.74  0.01  2.24  1.36   0.23
615  201310   5.18  0.01 -2.57 -2.33   4.39
616  201311   3.84  0.01  0.85  1.88   2.26
617  201312   1.37  0.02 -0.21 -1.95  -2.66

[618 rows x 6 columns]

In [35]:
# Read-in the factors for German market from the provided file 'monthly_factors.csv' (rf is risk free rate):
#   1. rm (Market factor)
#   2. SMB (Fama-French size factor)
#   3. HML (Fama-French value factor)
#   4. WML (Carhart momentum factor)
# Like above, convert the 'date' column to the datetime data type.
#
factors         = pd.read_csv('monthly_factors.csv')
factors['date'] = pd.to_datetime(factors['date'], format ='%Y%m')
factors['rm_excess'] = factors['rm'] - factors['rf']
factors = factors[['date', 'rm_excess', 'rf']]  # We'll only use market excess returns and riskfree rate here
factors[['rm_excess', 'rf']] /= 100  # Bring numbers to actual values
factors.head()

        date  rm_excess      rf
0 1962-07-01    -0.0578  0.0025
1 1962-08-01     0.0586  0.0025
2 1962-09-01    -0.0658  0.0026
3 1962-10-01    -0.0227  0.0024
4 1962-11-01     0.1905  0.0024

In [0]:
# We will estimate an ARMA(1, 1) model on market excess returns and the riskfree rate:
#
#    r_t = \alpha + \beta * r_{t-1} + \epsilon_t + \theta * \epsilon_{t-1}   (1)
#
# This means: We need to come up with estimates for the parameters \alpha, \beta and \theta
#
# The problem is: \epsilon_{t-1} is not observed, we only have observations for r_t, r_{t-1}.
# We will follow a two-pass estimation to circumvent this problem. We first estimate the
# AR part of that model via OLS:
#
#    r_t = \alpha + \beta * r_{t-1} + \tilde{\epsilon}_t                      (2)
#
# Given this model, we can get a time series of \tilde{\epsilon}_t. With that, we can now
# estimate (1) via OLS, by just setting \epsilon_{t-1} = \tilde{\epsilon}_{t-1}.


# Task 1: Estimate AR model part (Step 1)
# ---------------------------------------

# Estimate the model (2) for market excess returns via OLS using the statsmodels package.
#
# Hint: If you are insecure what to do, write down the regression formulas for the factor
#       models of the last problem set and compare.
# Note: 'ar_model_rm_excess' should contain the OLS regression result object (after fitting)
#
# IMPORTANT: Use the constant as first variable in the regression. This also applied to the
#            next regression!

ar_model_rm_excess =
print(ar_model_rm_excess.summary())


# Repeat the analysis above for the riskfree rate.
#
# Note: 'ar_model_rf' should contain the OLS regression result object

ar_model_rf =
print(ar_model_rf.summary())