<a href="https://colab.research.google.com/github/oliverwsd/finance/blob/master/set4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [34]:
import os
from google.colab import drive
drive.mount('/content/drive')

path = "/content/drive/My Drive/data"

os.chdir(path)#将当前目录指定到了云盘data文件夹
#os.listdir(path)
pd.read_csv('monthly_factors.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       date     rm    rf   SMB   HML    WML
0    196207  -5.53  0.25 -0.29 -1.05   2.38
1    196208   6.11  0.25 -5.50 -1.63   0.80
2    196209  -6.32  0.26  2.26  0.14   1.94
3    196210  -2.03  0.24 -3.12  1.13   1.14
4    196211  19.29  0.24 -0.87 -9.73 -10.36
..      ...    ...   ...   ...   ...    ...
613  201308  -1.54  0.01  1.16 -1.31  -0.02
614  201309   5.74  0.01  2.24  1.36   0.23
615  201310   5.18  0.01 -2.57 -2.33   4.39
616  201311   3.84  0.01  0.85  1.88   2.26
617  201312   1.37  0.02 -0.21 -1.95  -2.66

[618 rows x 6 columns]