<a href="https://colab.research.google.com/github/oliverwsd/finance/blob/master/time_series_stock_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html',False)
pd.set_option('display.max_columns',6)
pd.set_option('display.max_rows',10)
pd.set_option('display.width',78)
pd.set_option('precision',3)

In [7]:
start = datetime.date(2018,1,1)
end   = datetime.date.today()
msft  = web.DataReader('MSFT','yahoo',start,end)
msft[:5]

             High    Low   Open  Close     Volume  Adj Close
Date
2018-01-02  86.31  85.50  86.13  85.95  2.248e+07     83.030
2018-01-03  86.51  85.97  86.06  86.35  2.606e+07     83.416
2018-01-04  87.66  86.57  86.59  87.11  2.191e+07     84.150
2018-01-05  88.41  87.43  87.66  88.19  2.341e+07     85.193
2018-01-08  88.58  87.60  88.20  88.28  2.211e+07     85.280

In [8]:
actions = web.DataReader('MSFT','yahoo-actions',start,end)
actions[:5]

              action  value
2020-02-19  DIVIDEND   0.51
2019-11-20  DIVIDEND   0.51
2019-08-14  DIVIDEND   0.46
2019-05-15  DIVIDEND   0.46
2019-02-20  DIVIDEND   0.46

In [10]:
msft['action'], msft['value'] = actions.action, actions.value
print(msft)

              High     Low    Open  ...  Adj Close  action  value
Date                                ...
2018-01-02   86.31   85.50   86.13  ...     83.030     NaN    NaN
2018-01-03   86.51   85.97   86.06  ...     83.416     NaN    NaN
2018-01-04   87.66   86.57   86.59  ...     84.150     NaN    NaN
2018-01-05   88.41   87.43   87.66  ...     85.193     NaN    NaN
2018-01-08   88.58   87.60   88.20  ...     85.280     NaN    NaN
...            ...     ...     ...  ...        ...     ...    ...
2020-04-30  180.40  176.23  180.00  ...    179.210     NaN    NaN
2020-05-01  178.64  174.01  175.80  ...    174.570     NaN    NaN
2020-05-04  179.00  173.80  174.49  ...    178.840     NaN    NaN
2020-05-05  183.65  179.90  180.62  ...    180.760     NaN    NaN
2020-05-06  184.20  181.64  182.08  ...    182.540     NaN    NaN

[590 rows x 8 columns]

In [0]:
def get(tickers, start, end):
  def data(ticker):
    return web.DataReader(ticker, 'yahoo', start, end)
  datas = map(data,tickers) # ticker中每一项调用data() -> [df1, df2, ..]
  return pd.concat(datas, keys= tickers, names=['Ticker','Date']) # 加一个层次key来识别数据来源于哪个df

# get a list of stocks tickers and return all the results in a single DataFrame

In [14]:
tickers = ['AAPL','MSFT','IBM','KO']
all_data = get(tickers,start,end)
all_data #load data for all of our stocks

                     High     Low    Open   Close     Volume  Adj Close
Ticker Date
AAPL   2018-01-02  172.30  169.26  170.16  172.26  2.556e+07    166.804
       2018-01-03  174.55  171.96  172.53  172.23  2.952e+07    166.775
       2018-01-04  173.47  172.08  172.54  173.03  2.243e+07    167.550
       2018-01-05  175.37  173.05  173.44  175.00  2.366e+07    169.457
       2018-01-08  175.61  173.93  174.35  174.35  2.057e+07    168.828
...                   ...     ...     ...     ...        ...        ...
KO     2020-04-30   47.00   45.70   47.00   45.89  2.080e+07     45.890
       2020-05-01   46.39   45.21   45.62   45.60  1.429e+07     45.600
       2020-05-04   45.48   44.60   45.32   45.14  2.254e+07     45.140
       2020-05-05   46.10   45.15   45.36   45.40  1.337e+07     45.400
       2020-05-06   45.63   44.72   45.40   44.75  1.181e+07     44.750

[2360 rows x 6 columns]